.resultContainer{
    margin-top: 10vh;
    background:transparent;
  
}

.success{
    font-size: 35px;
    color: rgb(11, 250, 71);
    margin: 1vh auto;
    
}

.error{
    font-size: 50px;
    color: red;
    margin: 3vh auto;
    
}

.bold{
    font-weight: bold;
}
.restart{
    
    color: black;
}