.planetContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 10px;
    text-align: left;

 
}

select{
    height: 30px;
    width: 200px;
    border: 1px solid rgb(110, 136, 207);
    margin: 10px;
    padding-left: 1.5vw;
    background-color: rgb(195, 223, 238);
  
}

.labelHeader{
    font-size: 20px;
    font-family: bold;
    padding-left: 4.5vw;
    text-align: left;
    text-shadow: 2px;
   
}
