
    .planetSelectContainer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-top: 5vh;
        padding: 10px 10px; 
    }
    

    .finderContainer{
        margin-top: 2vh;
        max-height: 78vh;
        padding-bottom: 40px;
    }
    .title{
        font-size: 35px;
        text-align: center;
        color: rgb(12, 12, 15);
        text-shadow: 5px;
       
      
        

    }
