.labelDisabled{
    color: rgba(128,128,128, 0.5);
}

.vehicleContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    text-align: left;
}

.labelEnabled{
    color: black;
}