.App{
    text-align: center;
    position: fixed;
    background: url(./Images/Space1.jpg) no-repeat center center fixed; 
  
    height: 100%;
    width: 100%;
  }
  
  .App-header {
    max-height: 10vh;
    display: flex;
    padding: 0 5vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
  
  }
  
  .App-Footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  
  p#small{
    font-size: 12px;
  }
  
  p#small a{
    font-size: 12px;
    color: white;
    text-decoration: underline;
  }
  
  
  .loader {
    margin: 0 auto;
    border: 4px solid #673ab7;
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    width: 30px;
    height: 30px;
    opacity: 0.8;
    border-radius: 50%;
    animation: loadingSpinner 1s infinite ease-in-out;
  }
  
  @keyframes loadingSpinner {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
  }
  
  @-webkit-keyframes loadingSpinner {
    from { -webkit-transform: rotate(0deg) }
    to { -webkit-transform: rotate(360deg) }
  }