button{
    width: 150px;
    height: 40px;
    margin-top: 2vh;
    border-radius: 10px;
    background-color: #2cac57;;
    color: white;
    outline:none;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:disabled{
    background-color:grey;
}